{
    "adminChannel" : "music-admin",
    "standardChannel" : "music",
    "sonos" : "IP_TO_SONOS",
    "token" : "SLACK:TOKEN",
    "market" : "US",
    "maxVolume" : 75,
    "blacklist" : "@justin.bieber, @one.direction"
    "apiKey": "" // a base64 encoded representation of your token:secret from Spotify
}
