{
    "adminChannel" : "music-admin",
    "standardChannel" : "music",
    "gongLimit": 3,
    "voteLimit": 6,
    "sonos" : "IP_TO_SONOS",
    "token" : "SLACK:TOKEN",
    "market" : "US",
    "maxVolume" : 75,
    "blacklist" : "@justin.bieber, @one.direction",
    "apiKey": ""
}