{
    "adminChannel" : "music-admin",
    "standardChannel" : "music",
    "gongLimit": 3,
    "voteImmuneLimit": 6,
    "voteLimit": 6,
    "voteTimeLimitMinutes" : 2,
    "flushVoteLimit" : 6,
    "sonos" : "IP_TO_SONOS",
    "token" : "SLACK:TOKEN",
    "market" : "US",
    "maxVolume" : 75,
    "blacklist" : "@justin.bieber, @one.direction",
    "spotifyClientId": "",
    "spotifyClientSecret": "",
    "logLevel": "info"
}
